<% provide(:title, 'MSRS') %>
<div class="jumbotron top-page">
  <h1 class="ms">Music Studio</h1>
  <h1 class="r">Reservation</h1>
<<<<<<< HEAD
  <h1 class="s">HOGEHOGE</h1>
=======
  <h1 class="s">testtest</h1>
>>>>>>> d8c55841b71baf82531d7ba2353dbbc3f340e9f2
  <p>This system suport your music life. You can reserve music studio anywhere you are.  </p>
  <p>
    <a href="/users/sign_up" class="btn btn-primary btn-lg" role="button" class=sign-up-button>Sign up</a>
  </p>
</div>
</div>
<%= render 'shared/flash_messages' %>
