@import "bootstrap";

/* header */
#header-size {
    margin-bottom: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* footer */
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #999;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 10px;
}

/* topページ */
#top-page {
    text-align: center;
    background-color: #a1d8e2;
    font-size: 120%;
    padding-top: 100px;
}

#MS {
    text-align: left;
    padding-left: 300px;
    text-shadow:2px 2px 2px #f8f8ff;
}

#R {
    text-shadow:2px 2px 2px #f8f8ff;
}

#S {
    text-align: right;
    padding-right: 350px;
    text-shadow:2px 2px 2px #f8f8ff;
}

#sign-up-button {
    position: relative;
    display: inline-block;
    padding: 0.5em 0.5em;
    text-decoration: none;
    color: #808080;
    background: #f5deb3;/*背景色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    border-color: #f5deb3
}

/* Sign upページ */

#sign-up {
    text-align: center;
    padding-top: 50px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
    @extend .form-group;
    @extend .has-error;
    margin-bottom: 0;
}

/* Sign inページ */

#sign-in {
    text-align: center;
    padding-top: 50px;
}

/* my page */

#my-page {
    text-align: center;
    line-height: 130px;
    background-color: #a1d8e2;
    font-size: 300%;
    text-shadow:2px 2px 2px #f8f8ff;
    margin-top: 50px;
    margin-bottom: 0px;
    height: 150px;
}

#user-name {
    width:70%;
    height:120px;
    font-size: 150%;
    background-color: #fff3b8;
    border-radius: 20px 20px 20px 20px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    float: left;
    font-family: sans-serif;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

#account {
    font-size: 150%;
}

#information {
    float: right;
    color: #333333;
    background-color: #dcdcdc;
    width:25%;
    height:400px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

#reservation-status {
    background-color: #a1d8e2;
    width: 70%;
    height:260px;
    margin-top: 160px;
    margin-left: 20px;
    border-radius: 20px 20px 20px 20px;
    overflow: auto;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

#reservation-title {
    text-align: center;
    font-family: sans-serif;
    font-size: 200%;
    padding-top: 10px;
}

#newreserve-button {
    clear: both;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    display: inline-block;
    padding: 0.5em 0.5em;
    text-decoration: none;
    color: #808080;
    background: #f5deb3;/*背景色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    border-color: #f5deb3
}

/* informationのパーシャル */
#information-detail {
    padding-left:0px;
    list-style: none;
    line-height: 2em
}

/*予約フォーム*/

#reservation-form {
    margin: 0 auto;
    padding-top: 20px;
    width: 60%;
    height:600px;
    border-radius: 20px 20px 20px 20px;
}

#store-form {
    padding:15px 20px;
    margin: 0 auto;
    width: 35%;
    background-color: #fff3b8;
    border-radius: 20px 20px 20px 20px;
}

#studio-form {
    padding:15px 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 35%;
    background-color: #fff3b8;
    border-radius: 20px 20px 20px 20px;
}

#start-time {
    padding:15px 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 40%;
    background-color: #fff3b8;
    border-radius: 20px 20px 20px 20px;
}

#end-time {
    padding:15px 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 40%;
    background-color: #fff3b8;
    border-radius: 20px 20px 20px 20px;
}

#Rbutton {
    text-align: center;
    margin-top: 20px;
}

#reserve-button {
    position: relative;
    display: inline-block;
    padding: 0.7em 0.7em;
    text-decoration: none;
    color: #302833;
    background: #f3bf88;/*背景色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    border-color: #f3bf88;
}

#background {
    background: url(/images/guitars-2033566__480.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
}

/*店舗登録フォーム*/
#store-button {
   text-align: center;
   padding-top: 10px;
}

/*店舗一覧ページ*/
#stores-table {
   width:80%;
   margin: 0 auto;
   border: solid 1px #d3d3d3;
}
