<% provide(:title, 'スタジオ登録ページ') %>

<h1 id="my-page">Registration New Studio</h1>

<%= form_for @studio do |f| %>

 <div id="store-form">
  <%= f.label :"スタジオ名" %>
  <%= f.text_field :studio_name, placeholder:"スタジオ名を入力してください", class:"form-control"%>
 </div>

 <div id="store-button">
  <%= f.submit "登録", class:"btn btn-primary btn-lg"%>
 </div>
<% end %>
